<% include ../partials/header %>

<main>
  <article>
    <h2>404 Error</h2>
    <p>This is not the page you're looking for.</p>
    <img src="/images/ben-kenobi.jpg">
    <a href="/">Back to all movies</a>
  </article>
</main>

<% include ../partials/footer %>
