<% include ../partials/header %>

<main>
  <% data.forEach(movie => { %>
  <article>
    <h3>Episode <%= movie.episode_id %></h3>
    <h2><%= movie.title %></h2>
    <a href="episode/<%= movie.episode_id %>">Details</a>
  </article>
  <% }) %>
</main>

<% include ../partials/footer %>
