<% include ../partials/header %>

<main>
  <article>
    <p>Getting data from a galaxy far far away...</p>
    <img src="/images/loading-gif.gif">
  </article>
</main>

<% include ../partials/footer %>
